* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

nav {
  background-color: #111;
  padding: 1rem 0;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(fondo.png);
}

.logo {
  display: flex;
  align-items: center;
}

.indice {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.indice a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.indice a:hover {
  color: #ff5100;
  opacity: 2;
}

.search {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ;
}

.search:hover {
  opacity: 10;;
}


